<!-- {% load i18n %} -->
<!-- {% load static %} -->
<!doctype html>
<html>
	<head>
		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Just a test</title>		
	</head>
	<body>
		
	</body>
</html>